.ReactFlagsSelect-module_label__27pw9, .ReactFlagsSelect-module_secondaryLabel__37t1D {
  color: #fff !important;
}
.rdw-editor-main{
  overflow: visible !important;
}
.StripeElement.StripeElement--empty{
    border: solid 1px #ededed;
    border-radius: 8px;
    padding: 16px 3px;
    background: #f5f5f5;
}

.StripeElement.StripeElement--empty:focus{
  border: solid 1px #ededed;
  border-radius: 8px;
  padding: 16px 3px;
  background: #f5f5f5;
}
